/Java/Exa_Theory/nbproject/private/
/Java/Exa_Theory/build/
/Java/Exa_Theory/dist/
/Java/Exa_401_Threads_Uhrzeitanzeige/nbproject/private/
/Java/Exa_401_Threads_Uhrzeitanzeige/build/
/Java/Exa_405_BruteForce/nbproject/private/
/Java/Exa_405_BruteForce/build/
/Java/Abgabe/nbproject/private/
/Java/Abgabe/build/
/Java/Exa_501_JDBCIntro/nbproject/private/
/Java/Exa_501_JDBCIntro/build/
/Java/Exa_502_MitarbeiterDB/nbproject/private/
/Java/Exa_502_MitarbeiterDB/build/
/Java/Exa_503_SchoolDB/nbproject/private/
/Java/Exa_503_SchoolDB/build/
/Java/Exa_504_BookDB/nbproject/private/
/Java/Exa_504_BookDB/build/
/Java/Exa_505_EmployeesDB/nbproject/private/
/Java/Exa_505_EmployeesDB/build/
/Java/Exa_505_EmployeesDB/dist/